[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-MicroServiceApp/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/Nest-MicroServiceApp/products-microservice.git
